[core]
	excludesfile = /Users/yevgnenll/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = seungkwon
	email = yevgnenll@gmail.com
[push]
	default = matching
[github]
	user = yevgnenll@gmail.com
[credential]
	helper = cache
